.flex-container{
    flex-wrap: wrap;
    display: flex;
    background-color: lightpink;
    align-content: space-around;
gap: 1rem;
    min-height: 200px;
}

.flex-item{
    background-color: lightblue;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

li{
    list-style-type: none;
}